# Python
__pycache__/
*.py[cod]
venv/
.venv/

# IDE
.idea/
.vscode/

# Scrapy
.scrapy/
crawls/
*.jsonl

# Podaci i modeli
kod/obrada/podaci/
practice/
notebooks/
baza/*.sql
kod/obrada/podaci/
kod/scrapper/.scrapy/
kod/scrapper/crawls/

# Generisano
aplikacija/static/klasteri.png
docs/plots/*.png

# OS
Thumbs.db
.DS_Store


kod/aplikacija/static/klasteri.png
kod/modeli/klusteri.png
kod/modeli/klusteri_frizider.png
kod/modeli/silueta_*.png
kod/modeli/silueta_*.json
kod/visualization/*_loss_data.json